.movie-card {
    position: relative;
    height: fit-content;
    width: 10rem;
    text-align: center;
    border-radius: .3rem;
    transition: all .3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.02)
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: .3rem;
}

.movie-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    padding: .2rem;
    margin: 0 auto;
    background: rgba(42, 32, 100, .2);
    border-radius: .3rem;
    height: 0;
    z-index: 1;
}

.movie-description.slide-up {
    animation: slide-up .3s ease-in 0s 1 normal forwards;
    transition: all .3s;
}

.name-and-date {
    color: #fff;
    font-size: .8rem;
    margin-bottom: 1rem;
}

.appear {
    animation: appear .2s ease-in .3s 1 normal forwards;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .7;
    display: flex;
    justify-content: center;
}

.visit-icon {
    z-index: 1;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    border-radius: .3rem;
}

@keyframes slide-up {

    from {
        height: 0;
    }

    to {
        height: 70%;
    }   
}

@keyframes appear {

    from {
        transform: scale(0);
    }

    to {
        transform: scale(100%);
    }   
}